<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ range $.Site.Home.AllTranslations }}
            <li><a class="lang" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
            {{ end }}
          </ul>
          <ul>
            <li><a href="https://github.com/FujiHaruka/inalz">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
